@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Red+Hat+Text:wght@400;600&display=swap');

/*
font-family: 'Fredoka', sans-serif;
font-family: 'Red Hat Text', sans-serif;

colors:
 black / white 
 purple : #C18CB9
 green : #BAC07A
 yellow : #D2A658
 light sage ; #ADBBAD
 gray blue : #738C9B
*/
*,
*:before,
*:after {
  box-sizing: unset;
}
body {
  margin: 0;
  text-align: center;
}

.nav {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 10%;
  right: -1%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
  background: #c18cb9;
  padding: 26px;
  border-radius: 50%;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #c18cb9;
  height: 80vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 80px;
  font-family: 'Fredoka', cursive;
  text-align: center;
  font-size: 40px;
  line-height: 30px;
  color: white;
  justify-content: space-around;
}
.menu-mobile .mobile-logo {
  width: 200px;
  margin-bottom: 3%;
}

.infobar {
  margin-top: -1px;
  background-color: #bac07a;
  padding: 20px;
  color: black;
  height: 20vh;
}
.infobar a.social {
  display: inline-block;
}
.icons {
  margin-bottom: 1%;
}

.menu-mobile,
.menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: #fff;
  height: 50px;
  line-height: 50px;
}
.menu-mobile a:hover {
  color: black;
}

.menu-mobile {
  display: none;
}

/* post-menu page code */

/* Type formats */

h2 {
  font-family: 'Fredoka', cursive;
  font-size: 50px;
  line-height: 80px;
}

.homepage h2.post-hero {
  padding: 200px 200px;
  text-align: center;
  margin: 0;
}

.aboutpage h2.post-hero {
  padding-top: 150px;
  text-align: center;
  margin: 0;
}

.artpage h2.post-hero {
  padding-top: 150px;
  text-align: center;
  margin: 0;
}

.artpage h2.post-hero2 {
  padding: 140px;
  text-align: center;
  margin: 0;
}

.yogapage h2.post-hero {
  padding-top: 150px;
  text-align: center;
  margin: 0;
}
/*BODY*/

p {
  font-family: 'Red Hat Text', cursive;
  font-size: 30px;
  line-height: 65px;
  margin-top: 40px;
  text-align: center;
}

p4 {
  font-family: 'Red Hat Text', cursive;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

.aboutpage p.large-body {
  padding: 140px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  margin: 0;
  font-size: 28px;
  line-height: 60px;
}

.artpage p.large-body {
  padding: 140px;
  padding-left: 135px;
  padding-right: 135px;
  text-align: center;
  margin: 0;
  font-size: 28px;
  line-height: 60px;
}

.yogapage p.large-body {
  padding: 140px;
  padding-left: 250px;
  padding-right: 250px;
  text-align: center;
  margin: 0;
  font-size: 28px;
  line-height: 60px;
}

/* Special for art page */
h5 {
  font-family: 'Red Hat Text', sans-serif, bold;
  font-size: 30px;
  text-align: center;
}
p3 {
  font-family: 'Red Hat Text', cursive;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
}

/* Special for yoga page */
h3 {
  font-family: 'Fredoka', cursive;
  font-size: 30px;
  line-height: 50px;
  color: white;
}
h4 {
  font-family: 'Red Hat Text', sans-serif, bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
p2 {
  font-family: 'Red Hat Text', cursive;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

/*Homepage*/
.home-bldg {
  background-image: url(imgs/es-building.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}
img {
  width: 100%;
}
.background {
  position: relative;
  top: 0;
  left: 0;
}
.logo {
  width: 45%;
  margin: auto;
}

.logo {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  50% {
    opacity: 0.9%;
    transform: scale(0.9);
  }
}

.hours {
  background: #bac07a;
}
.about {
  background: #adbbad;
}

.two-column {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 80px;
}
.two-column div {
  flex: 1;
  text-align: center;
}
.text-content {
  display: flex;
  align-items: left;
}

.text-content.text-right {
  padding-left: 70px;
}
.text-content.text-left {
  padding-right: 70px;
}
.btn-2,
.btn-2 *,
.btn-2 :after,
.btn-2 :before,
.btn-2:after,
.btn-2:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-2:disabled {
  cursor: default;
}
.btn-2:-moz-focusring {
  outline: auto;
}
.btn-2 svg {
  display: block;
  vertical-align: middle;
}
.btn-2 [hidden] {
  display: none;
}
.btn-2 span {
  color: #fff;
}
.btn-2 span:hover {
  color: #000;
}
.btn-2 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-2 span {
  mix-blend-mode: difference;
}
.btn-2:before {
  background: #fff;
  color: #000;
  content: '';
  inset: 0;
  position: absolute;
  transform: translateX(var(--progress, -100%));
  transition: transform 0.2s ease;
}

.btn-2:hover:before {
  --progress: 0;
}

/*About Page */

.pricebar {
  background: #bac07a;
  padding: 10px;
}

.chickenbar {
  background: #d2a658;
}

.chicken-img {
  background-color: #c18cb9;
}

/* Art page */
.eventbar {
  text-align: center;
  padding: 40px 20px;
}

.eventbar-white {
  background: white;
}
.eventbar-green {
  background: #bac07a;
}

/*Yoga & Dance page */

.yoga-1 {
  background: #738c9b;
}
.yoga-2 {
  background: #adbbad;
}
.yoga-3 {
  background: #bac07a;
}
.dance {
  background: #d2a658;
}

.two-column {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 80px;
}
.two-column div {
  flex: 1;
  text-align: center;
}
.img-content {
  width: 50%;
}
.text-content {
  display: flex;
  align-items: center;
}

.text-content.text-right {
  padding-left: 70px;
}
.text-content.text-left {
  padding-right: 70px;
}

/* End Bar*/

.endbar {
  background: #c18cb9;
}

.bottomlogo {
  padding-top: 5px;
  align-items: center;
  width: 200px;
  margin: auto;
}

/* END OF Mobile Menu */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* START of desktop menu for 768 media query */
}
.menu-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .hide-mobile {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .two-column {
    flex-direction: column;
  }
  .two-column:has(.text-left) {
    flex-direction: column-reverse;
  }
}
